
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterStruct: true
    AfterCaseLabel: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterUnion: true
    AfterControlStatement: Always
    BeforeElse: true
    BeforeWhile: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false

ColumnLimit: 80

IncludeBlocks: Merge
IndentCaseLabels: true
IndentWidth: 4
